footer {
  margin-top: 100px;
  height: 89px;
  box-shadow: 0 3px 6px #00000029;
  padding: 16px 15px 0 15px;

  @include tablet_small {
    padding-top: 20px;
  }

  .footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-box-text {
      span {
        font-size: 32px;
        line-height: 30px;
        color: $color-primary;
        font-family: $font_Raleway;
      }
      p {
        font-size: 11px;
        line-height: 15px;
        color: $color-grey;
        font-weight: 400;
        padding-top: 6px;
      }
    }
    .footer-box-img {
      .twitter {
        padding-right: 20px;
      }
    }
  }
}