.prices {
  padding-top: 50px;
  padding-right: 15px;
  padding-left: 15px;

  @include desktop {
    padding-top: 100px;
  }
  h1 {
    font-weight: 400;
    text-align: center;
    padding-bottom: 50px;
  }

  .prices-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:59px;

    @include desktop {
      flex-direction: row;
    }

    .prices-box-red {
      border: 1px solid $color-redish;
      position: relative;
      h3 {
        color: $color-redish;
      }
    }
    .prices-box-green {
      border: 1px solid $color-green;
      position: relative;
      h3 {
        color: $color-green;
        margin-bottom: 35px;
      }
      h4 {
        margin-bottom: 34px;

      }
    }
    .prices-box-blue {
      border: 1px solid $color-primary;
      box-shadow: 5px 10px 27px $color-primary-shadow;
      position: relative;
      transform: scale(1.1);
      h3 {
        color: $color-primary;
        margin-bottom: 35px;
      }
      h4 {
        margin-bottom: 34px;
      }
    }

    .prices-box {
      border-radius: 18px;
      width:370px;
      padding-bottom: 25px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      @include desktop {
        flex-direction: column;
        padding-bottom: 81px;
        padding-left: 119px;
        padding-right: 118px;
      }

      .prices-button {
        border-radius: 40px;
        font-size: 13px;
        font-weight: 800;
        line-height: 41px;
        //padding: 8px 57px;
        padding: 2px 70px;
        top: 20px;
      }

      .button-red {
        background: $color-redish;
        position: absolute;
        top: 92%;
      }
      .button-blue {
        background: $color-primary;
        position: absolute;
        top: 92%;
      }
      .button-green {
        background: $color-green;
        position: absolute;
        top: 92%;
      }

      .prices-boxes-checkboxes {
        .checkbox {
          font-size: 14px;
          line-height: 41px;
          font-weight: 400;
          display: flex;
          gap:10px;

          @include desktop {
            justify-content: center;
          }
        }
      }
    }
  }
}